* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 2000px; // altura para gerar a barra de rolagem
  
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
